{
  "GEOSERVER_URL": "${GEOSERVER_URL}",
  "GEOGRAFICO_URL": "${GEOGRAFICO_URL}",
  "BIOCULTURAL_URL": "${BIOCULTURAL_URL}",
  "BIOLOGICO_URL": "${BIOLOGICO_URL},
  "PYTHONSERVER": "${PYTHONSERVER}",
  "CARTODB_POSITRON_URL": "${CARTODB_POSITRON_URL}",
  "OTM_TILE_URL": "${OTM_TILE_URL}",
  "WMFLABS_BW_URL": "${WMFLABS_BW_URL}",
  "STAMEN_TERRAIN_URL": "${STAMEN_TERRAIN_URL}",
  "ESRI_WORLD_PHYSICAL_URL": "${ESRI_WORLD_PHYSICAL_URL}",
  "ESRI_WORLD_IMAGERY_URL": "${ESRI_WORLD_IMAGERY_URL}",
  "PDF_ASSET_BASE_URL": "${PDF_ASSET_BASE_URL}",
  "I2D_HOME_URL": "${I2D_HOME_URL}",
  "CEIBA_URL": "${CEIBA_URL}",
  "GEONETWORK_HOME_URL": "${GEONETWORK_HOME_URL}",
  "GUIDES_URL": "${GUIDES_URL}",
  "CONTACT_EMAIL": "${CONTACT_EMAIL}",
  "HUMBOLDT_SITE_URL": "${HUMBOLDT_SITE_URL}"
}