.chartdiv {
    width: 100%;
    height: 500px;
}

#titleResume{
  text-align: center;
}

.gbifInfo{
  text-align: right;
  padding: 0px 10px;
}

p:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}