@import '../../../scss/sizes.scss';
@import '../../../scss/color';
#sideOptions {
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    &.nonactive{
        display: none;
    }
    @include tablet{
        width: 100%;
        z-index: 2000;  
    }
    @include desktop {
        width: 40%;
        z-index: 100;  
    }
}

#closeSideOptions{
    z-index: 100;
    position: absolute;
    right: 8px;
    top: 8px;
    color: $color_terciary;
    opacity: 0.9;
}


// dropdown

.menuItemsTooltip{
    text-align: center;
    justify-content: center;
    display: flex;
}

.dropdown{
    margin:5%
}
a.nav-link{
    color:$color_primary;
}
a.nav-link.active{
    color:$color_secundary
}

// tab navbar

.tab-pane{
    margin-top: 10px;
}

a.card-link{
    font-weight: 400;
    color:$color_primary
}

.toggle-header{
    cursor:pointer
}

#layersData{
    margin-top: 0px;
}
// #contenedorg{
//     overflow-y: scroll;
// }

.nav-link {
    color: #fff !important;
    border: none !important;
    background-color: $color_primary_trans !important;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
    &.active {
        background-color: $color_primary !important;
    }
}