// the platform colors
$color_primary: rgb(17, 42, 55);
$color_primary_trans:rgba(17, 42, 55, 0.9);
$color_secundary: #164d4c;
$color_secundary_trans:rgba(22, 77, 76, 0.9);
$color_terciary:#ff8008;
$color_terciary_trans:rgba(255, 128, 8, 0.9);
$color_four:#d94d4c;
