@import './color';

.show{
    display: block;
}

#content{
    width: 100%;
}

.titleh5{
    color:$color_primary
}

.btn-primary {
    color: #fff;
    background-color: $color_primary;
    border-color: $color_primary;
    &:hover{
        background-color: $color_primary_trans;
        border-color: $color_primary_trans;    
    }
}


.btn-terciary {
    color: #fff;
    background-color: $color_terciary;
    border-color: $color_terciary;
    &:hover{
        background-color: $color_terciary_trans;
        border-color: $color_terciary_trans;    
    }
}

.toast{
    margin: auto;
    z-index: 100;
    position: absolute;
    right: 0px;
    bottom: 0px;
}