@import 'sizes';
@import 'color';
/*Contenedor de listado de capas*/
// layers control inside map
#ControlCapas{
    z-index: 2;
    position: absolute;
    color: $color_primary;
    top:0.7rem;
    font-size: 1.5rem;
    &:hover{
        color:$color_four;
    }
    @include tablet{
        right: 2vh;
    }
    @include desktop {
        right: 1.2vh;
    }
}

#accordion{
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 5px;
    height: auto;
    // height: 202px;
    @include desktop {
        min-width: 350px;
    }
}
#capas{
    max-height: 50vh;
    // height:100vh;
}

.card-body{
    max-height: 1px;
    margin-bottom: 10px;
    padding: 1.2rem 2.25rem;
}
.card-header {
    padding: 0rem ;
    background-color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.card-body-layers {
    font-weight: 300;
}

.btn-link {
    color: $color_primary;
    text-decoration: none;
}

.btn-link:hover {
    color: $color_secundary;
    text-decoration: none;
}

/*tabla de atributos*/
.contenedor{
    display: -ms-flexbox;
    position: absolute;
    top: 5em;
    left: 0em;
    width: 28em;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    color: #000000;
    z-index: 2;
    visibility: hidden;
}
.navbar .container {
    display: block;
}
.card-link{
    &:hover{
        color:$color_secundary
    }
}

#searchDiv{
    z-index: 2;
    position: absolute;
    @include tablet{
        width: 70%;
    }
    @include desktop {
        width: 30%;
    }
}

.card-body-layers{
    padding: 0.5em 1em;
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
    font-weight: 300;
}

#dropdown-menu-mupio{
    position: absolute; 
    transform: translate3d(48px, 42px, 0px); 
    top: 0px; 
    left: 0px; 
    will-change: transform;
}

.form-control {
    border: none;
    &:focus {
        color: #495057;
        background-color: #fff;
        outline: 0;
        box-shadow: none;
    }
}

.fa-link {
    cursor: pointer;
    opacity: 0.4;
    &:hover{
        opacity: 1;
    }
}

.fa-expand {
    line-height: 1.4;
}
