@import 'sizes';
@import 'color';
#map { 
  height:  100vh; 
  width: 100%;
}
#mapSection{
  position:absolute;
  top:0;
  bottom:0;
  &.nonactive{
    right:0;
    width: calc(100% - 46px);
  }
  &.active{
    left: 46px;
    width: calc(60% - 46px);
  }
}
.logo_on_map.leaflet-control{
  margin-bottom: 0px;
}
 
.ol-scale-line{
  background-color:rgba(255, 255, 255, 0.123);
}

.ol-attribution:not(.ol-collapsed) {
  background-color: rgba(255,255,255,0.4);
}

.ol-zoom {
  top: 3em;
}

@include tablet{
  .ol-touch .ol-zoom-extent {
    top: 7.6em;
  }
  .ol-control button {
    width: 1.2em;
    height: 1.5em;
  }
  .ol-touch .ol-control button {
    font-size: 1.1em;
  }
}
@include desktop {
  .ol-zoom-extent {
    top: 6.6em;
  }
}


.ol-scale-line-inner{
  border:1px solid $color_primary;
  color:  $color_primary;
  border-top: none;
}
.ol-control {
  padding: 0px;
}
.ol-control button{
  background-color:$color_primary;
  font-size: 1em;
  &:hover{
    background-color:$color_secundary
  }
}

.search-control{
  left: 0.5em;
  top: 0.8em;
}
.layer-switcher button{
  background-color:white;
}

.layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-left: 0;
  right: 0;
  top: 0;
  &> button{
    left: auto;
  }
}
